$primary-color : red;
@function background($bgcolor){
  @if($bgcolor != white){
    @return white;
  } @else {@return black}
}
.text{
      //color : $primary-color;
      color : background(white);
      font-size : 20px;
}
textarea{
  @extend .text
}
h1{
  @extend .text
}
 @mixin btnborder($border : 3px){
   border: $border solid yellow
 }

.btn {
  @include btnborder();
}

$languages :'html','css', 'java', 'react';
@function firstone($list){
  @return nth($list,1);
}
@function lastone($list){
  @return nth($list, length($list));
}
.langage {
  content: firstone($languages);
}
